.contact-text-block {
  display: flex;
  align-items: start;
}

.contact-padding-icon {
  padding: 0rem 3rem;
}

.remove-space {
  margin-bottom: -2px;
}

.container-maring-h1 {
  padding-left: 20px;
}
