$info: #767676;
$danger: #e92569;
$dark: #ece7e7;
$grid-gutter-width: 0;
$primary: #efefef;
$warning: #c7c7c7;
$secondary: #ffffff;
$carousel-indicator-height: 30px;
$carousel-control-color: $primary;
$carousel-indicator-active-bg: $danger;
$carousel-indicator-opacity: 1;
$white: #fff;

$carousel-control-prev-icon-bg: none;
$carousel-control-next-icon-bg: none;
